:root {
    --primary-color: rgb(172, 71, 71);
    --secundary-color: dimgrey;
    --tertiary-color: gainsboro;
}
body {
    background-color: var(--primary-color);
    font-size: medium;
    font-family: sans-serif;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px var(--tertiary-color);
    border-radius: 20px;
}

.titulo {
    background: var(--tertiary-color);
    color: black;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}

.tipsform {
    padding-left: 20px;
    padding-right: 20px;    
}

.forminput {
    background: white;
    width: 40px;
    padding: 5px 5px 8px 8px;
}

.forminput:focus {
    border: 3px solid var(--primary-color);
    outline: none;
}

.formservice{
 width: 180px;
 padding: 5px;
 font-size: 15px;
}

.formsubmit {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}